@font-face {
    font-family: 'OptimusPrinceps';
    src: url('./fonts/OptimusPrinceps/OptimusPrinceps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('./fonts/OptimusPrinceps/OptimusPrincepsSemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.listeProduits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top : 70px;
    padding-bottom: 70px;
}

.caseProduit {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.caseProduit img {
    max-width: 100%;
    height: auto;
}

.infoProduit h4 {
    margin: 10px 0;
    font-family: "OptimusPrinceps", serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}
